@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
*{
    font-family: 'Asap', sans-serif;
    /* margin: 10;
    padding: 10;
     box-sizing: border-box; */

 } 
/* our story */
h1{
    margin:0;
    padding:0;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

h2{
    margin:0;
    padding:0;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}



/*  all photo*/

.rowphoto{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container{
    max-width: 1000px;
    min-width: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.box{
    max-width: 500px;
    min-width: 250px;
    position: relative;
    cursor: pointer;
}
.box .thumb{
    max-width: 250px;
 width: 100%;
 height: 250px;
 overflow: hidden;
position: relative;
border-radius:50% ;
float: left;
shape-outside: circle();
margin-right: 20px;
}
.thumb img{
    width: 100%;
 height: 100%;
 display: block;
 object-fit: cover;
}
.thumb .social{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff4;
    text-align: center;
    line-height: 250px;
    z-index: 1;
    transition: 0.5s linear;
    box-shadow: inset 0 0 0 20px 6px #bda9a9;
    transform:translateY(-250px) ;
}
.box:hover .thumb .social{
    transform:translateY(0) ;  
}

.thumb .social a{
    background: #222;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    color: white;
    transition: 0.3s linear;
}
p{
   font-weight: bold;
    width: 30px;
    height: 30px;
    display: inline;
    line-height: 90px;
    color: white;
    transition: 0.3s linear;
}
.thumb .social a:hover{
    border-radius: 50%;
    color: crimson;
}
.thumb .social p:hover{
    border-radius: 50%;
    color: crimson;
}

/* end photo */