.blogCard {
    width: 50%;
    margin: 0 auto;
    margin-top: 4em;
    margin-bottom: 4em;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 5%;
    text-align: center;
    height:80%
  }
  .blog{
      padding-top: 200px;
      padding-bottom: 100px;
      width: 100%;
      height: 100%;
      background-color:#f0f0f0;
  }
  .blog h1 , .blog p{
    text-align: center;
  }
  .blog h1{
      color: var(--main-color);
      font-weight: bold;
  }

.blogTitle{
    color: var(--main-color);
}
.btn-blog{
    width:30%
}
.blogImg{
    width:70%;
    height:50%
}